@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navegacao{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: fixed;
    width: 100%;
    background: white;
}

.logo {
    padding: 10px;
    flex: 20%;
    text-align: left;
    margin-left: 10%;
    color: #160C86;

}

.logo h1 {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    
}

.menu{
    padding: 10px;
    flex: 60%;
    text-align: right;
    margin-right: 10%;
    
    
}

.menu a{
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    color: #09005D;
    
}

.menu a:hover {
    border-top: 2px solid #FF7568;
    
}

.bt {
    background: #4245E8; 
    padding: 15px; 
    border-radius: 5px; 
    color: white;
    transition: 0.3s;
}

.bt:hover {
    background-color: #09005D;
    padding: 20px;
    
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding-top: 150px;
}

.lado1 {
    flex:40%;
    margin-left: 10%;
    
}

.lado1 h3 {
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    color: #160C86;
    letter-spacing: 10px;
    
}

.lado1 h2 {
    margin: 0 0;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    color: #160C86;
}

.btn {
    background-color: #FF7568;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.btn:hover {
    background-color: #bb4c42;
    padding: 15px;
}

.lado1 p {
    margin-bottom: 30px;
    text-align: justify;
    letter-spacing: 0px;
}

.lado2 {
    flex: 40%;
    margin-right: 10%;
    text-align: center;
}

.artigo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.artigo h2 {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: #160C86;
}

.oculto1 {
    display: none;
}

.oculto2 {
    display: none;
}

.oculto3 {
    display: none;
}

.cards {
    display: flex;
    flex-direction: row;
    flex: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    margin-bottom: 100px;

}

.card1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid #FE756A;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.card1:hover {
    background-color: #bb4c42;
    color: white;
    padding: 30px;
    margin-bottom: 0px;
}

.card1:hover img{
    display: none;
}

.card1:hover .card-text{
    display: none;
}

.card1:hover .oculto1{
    display: block;
}


.card2 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid #FE756A;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.card2:hover {
    background-color: #bb4c42;
    color: white;
    padding: 30px;
    margin-bottom: 0px;
}

.card2:hover img{
    display: none;
}

.card2:hover .card-text2{
    display: none;
}

.card2:hover .oculto2{
    display: block;
}

.card3 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid #FE756A;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.card3:hover {
    background-color: #bb4c42;
    color: white;
    padding: 30px;
    margin-bottom: 0px;
}

.card3:hover img{
    display: none;
}

.card3:hover .card-text3{
    display: none;
}

.card3:hover .oculto3{
    display: block;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
    background-image: linear-gradient(to bottom, #474AF1, #14097F);
    border-top: 5px solid #FF7568;
    padding: 30px;
}

.logo-f {
    text-align: center;
}

.agencia {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.whats {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    transition: 0.2s;
}

.whats:hover {
    width: 80px;
}

